  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1a1a2e; 
    color: #ffffff; 
    text-align: center;
    padding: 20px;
  }
  
  /* Title styling */
  h1 {
    font-size: 32px;
    color: #e5bf26; 
    margin-bottom: 20px;
    font-family: Arial, sans-serif; /* Default font */
  }
  

  .btn {
    background-color: #e5bf26; 
    color: white;
    padding: 14px 24px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Spacing between buttons */
    font-family: Arial, sans-serif; /* Default font */
  }
  
  .btn:hover {
    background-color: #c5a41f; 
  }